<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if form.instance.pk %}Редактировать{% else %}Создать{% endif %} статью</title>
</head>
<body>
    <h1>{% if form.instance.pk %}Редактировать{% else %}Создать{% endif %} статью</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить</button>
    </form>
    <br>
    <a class="btn btn-primary" href="{% url 'blog:post_list' %}" role="button">Назад к списку статей</a>
</body>
</html>